@{
    ViewBag.Title = "Home Page";
}

<div class="new-item-container">
    <div class="new-item">
        <video autoplay loop muted class="new-item-video"
               src="https://cwsmgmt.corsair.com/responsive/videos/IronClaw_RGB_Wireless_Loop_v03.mp4"></video>
    </div>
    <div class="new-item-title">
        <h1>IRONCLAW RGB WIRELESS</h1>
        <h2>GAMING MOUSE WITH SLIPSTREAM WIRELESS</h2>
        <button class="learn-more"  onclick="location.href='/Headset/2'">LEARN MORE</button>
    </div>
    <div class="move-svg-wrapper" onclick="location.href='#menu-slide'">
        <svg version="1.1" class="move-svg" id="" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" xml:space="preserve">
        <path d="M83.4,31.1v38.6L50,88.9L16.6,69.6V31.1L50,11.8L83.4,31.1z M81.2,68.3v-36L50,14.4l-31.2,18v36l31.2,18L81.2,68.3z">
                </path>
        <g>
        <polygon points="66.7,57.1 66.7,54.6 50,64.2 33.3,54.6 33.3,57.1 50,66.8"></polygon>
        <polygon points="66.7,42.4 66.7,39.8 50,49.5 33.3,39.8 33.3,42.4 50,52.1"></polygon>
                </g>
            </svg>
    </div>
</div>

<div class="frame-container menu-slide" id="menu-slide">
    <div class="text-center div-explore">
        <h1><span class="explore">EXPLORE </span><span>PRODUCTS</span></h1>
    </div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade five-ones" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div onclick="location.href='/Keyboard'">
                    <img src="/Assets/Images/menu-categories/keyboards_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>KEYBOARDS</h3>
                </div>
                <div onclick="location.href='/Mouse'">
                    <img src="/Assets/Images/menu-categories/mice_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MICE</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/headsetsImage_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>HEADSETS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/cases2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>CASES</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/hp_fans_category_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>FANS</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/mousemats_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MOUSE PADS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/memoryCarousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MEMORY</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/power_supply_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>POWER SUPPLIES</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/cooler2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>COOLING</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_one_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING PCs</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_one_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING PCs</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_chairs_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING CHAIRS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/lapboard_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>LAPBOARD</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/storage_home_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>STORAGE</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/icue_home_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>ICUE</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <div class="prev-icon"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <div class="next-icon"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="carouselFade3" class="carousel slide carousel-fade three-ones" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div onclick="location.href='/Keyboard'">
                    <img src="/Assets/Images/menu-categories/keyboards_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>KEYBOARDS</h3>
                </div>
                <div onclick="location.href='/Mouse'">
                    <img src="/Assets/Images/menu-categories/mice_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MICE</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/headsetsImage_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>HEADSETS</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/cases2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>CASES</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/hp_fans_category_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>FANS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/mousemats_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MOUSE PADS</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/memoryCarousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MEMORY</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/power_supply_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>POWER SUPPLIES</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/cooler2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>COOLING</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_one_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING PCs</h3>
                </div>

                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_chairs_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING CHAIRS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/lapboard_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>LAPBOARD</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/storage_home_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>STORAGE</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/icue_home_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>ICUE</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_one_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING PCs</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselFade3" role="button" data-slide="prev">
            <div class="prev-icon"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselFade3" role="button" data-slide="next">
            <div class="next-icon"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div id="carouselFade2" class="carousel slide carousel-fade two-ones" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div onclick="location.href='/Keyboard'">
                    <img src="/Assets/Images/menu-categories/keyboards_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>KEYBOARDS</h3>
                </div>
                <div onclick="location.href='/Mouse'">
                    <img src="/Assets/Images/menu-categories/mice_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MICE</h3>
                </div>

            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/headsetsImage_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>HEADSETS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/cases2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>CASES</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/hp_fans_category_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>FANS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/mousemats_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MOUSE PADS</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/memoryCarousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>MEMORY</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/power_supply_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>POWER SUPPLIES</h3>
                </div>

            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/cooler2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>COOLING</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_one_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING PCs</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/explore_chairs_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>GAMING CHAIRS</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/lapboard_2.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>LAPBOARD</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/storage_home_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>STORAGE</h3>
                </div>
                <div onclick="location.href='/Headset'">
                    <img src="/Assets/Images/menu-categories/icue_home_carousel.png" class="d-block" alt="...">
                    <p><img src="/Assets/Images/round-shadow.jpg" alt=""></p>
                    <h3>ICUE</h3>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselFade2" role="button" data-slide="prev">
            <div class="prev-icon"><span class="carousel-control-prev-icon" aria-hidden="true"></span></div>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselFade2" role="button" data-slide="next">
            <div class="next-icon"><span class="carousel-control-next-icon" aria-hidden="true"></span></div>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="corsair-in-action">
    <div class="frame-container">
        <div class="text-center guru-action-title">
            <h1>GURU IN <span>ACTION</span></h1>
        </div>
        <div class="total-ones">
            <div class="big-one">
                <div onclick="location.href='/Headset/2'" style="background: url(/Assets/Images/in-action-images/mouse1.png) center center no-repeat;">
                </div>
                <h2>GLAIVE RGB PRO</h2>
                <p>GAMING MOUSE</p>
                <button onclick="location.href='/Headset/2'">LEARN MORE</button>
            </div>
            <div class="small-one">
                <div onclick="location.href='/Headset/2'" style="background: url(/Assets/Images/in-action-images/case.png) center center no-repeat;">
                </div>
                <h2>MM350 CHAMPION MOUSE PAD</h2>
                <p>ANTI-FRAY CLOTH GAMING MOUSE PAD</p>
                <button onclick="location.href='/Headset/2'">LEARN MORE</button>
            </div>
            <div class="small-one">
                <div onclick="location.href='/Headset/2'" style="background: url(/Assets/Images/in-action-images/dominator.png) center center no-repeat;">
                </div>
                <h2>M65 RGB ELITE</h2>
                <p>GAMING MOUSE</p>
                <button onclick="location.href='/Headset/2'">LEARN MORE</button>
            </div>
            <div class="big-one">
                <div onclick="location.href='/Headset/2'" style="background: url(/Assets/Images/in-action-images/icue.png) center center no-repeat;">
                </div>
                <h2>DOMINATOR PLATINUM RGB</h2>
                <p>PREMIUM DDR4 MEMORY</p>
                <button onclick="location.href='/Headset/2'">LEARN MORE</button>
            </div>
            <div class="small-one">
                <div onclick="location.href='/Headset/2'" style="background: url(/Assets/Images/in-action-images/keyboard.png) center center no-repeat;">
                </div>
                <h2>K83 WIRELESS</h2>
                <p>ENTERTAINMENT KEYBOARD</p>
                <button onclick="location.href='/Headset/2'">LEARN MORE</button>
            </div>
            <div class="small-one">
                <div onclick="location.href='/Headset/2'" style="background: url(/Assets/Images/in-action-images/mousepad.png) center center no-repeat;">
                </div>
                <h2>CRYSTAL SERIES 680X RGB</h2>
                <p>TEMPERED GLASS SMART CASE</p>
                <button onclick="location.href='/Headset/2'">LEARN MORE</button>
            </div>
        </div>
    </div>
</div>

@section topCSS{
    <link rel="stylesheet" href="~/Assets/Styles/StylesheetIndex.css">
}
