@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}


@section topCSS{
    <style>
        .container{
            margin-top: 65px;
        }
    </style>
}

<div class="container">
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">Requested Resource Failed.</h2>
</div>


