html header {
    border-bottom: 1px solid #e6e4e4;
}

.selected-in-cart {
    width: 100%;
}

.img-pic {
    width: 30%;
    height: 85%;
}

cart-summary {
    width: 100%;
}

.item-price-right {
    flex: 1 1 40%;
    display: flex;
    align-items: baseline;
}

.productName {
    color: black;
}

.cart-frame-container {
    width: 60%;
    margin: 100px auto;
}

    .cart-frame-container div {
        padding: 10px;
    }

    .cart-frame-container .shopping-cart-title, .cart-frame-container .cart-summary-title {
        background: black;
        color: white;
        font-size: 1.2rem;
    }

    .cart-frame-container .selected-item {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-bottom: 1px solid #e6e4e4;
        height: 250px;
    }

        .cart-frame-container .selected-item div {
            text-align: center;
        }

            .cart-frame-container .selected-item div .item-spec {
                text-align: left;
            }

        .cart-frame-container .selected-item .img-and-spec {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 40%;
            flex: 1 1 40%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0px;
        }

        .cart-frame-container .selected-item .img-and-spec {
            width: 40%;
            height: 150px;
        }

#item-img {
    width: 100%;
    height: 100%;
}

.cart-frame-container .selected-item .img-and-spec .item-spec {
    width: 60%;
}

.cart-frame-container .selected-item .item-quantity {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15%;
    flex: 1 1 15%;
    display: flex;
}

.cart-frame-container .selected-item .item-price {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 15%;
}

.cart-frame-container .selected-item .delete-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 3%;
    flex: 1 1 3%;
}

.cart-frame-container .quantity {
    width: 40%;
}

.cart-frame-container .cart-summary {
    text-align: center;
}

    .cart-frame-container .cart-summary .cart-summary-title {
        text-align: left;
    }

    .cart-frame-container .cart-summary .amount > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0px;
    }

        .cart-frame-container .cart-summary .amount > div div {
            padding: 0px 10px;
        }

    .cart-frame-container .cart-summary .amount {
        padding: 10px 0px;
        border-bottom: 1px solid #e6e4e4;
    }

        .cart-frame-container .cart-summary .amount .total-amount {
            padding: 10px 0px;
        }

    .cart-frame-container .cart-summary .checkout {
        text-align: center;
    }

        .cart-frame-container .cart-summary .checkout p {
            margin-bottom: 5px;
        }

        .cart-frame-container .cart-summary .checkout div {
            width: 50%;
            margin: 10px auto;
        }

            .cart-frame-container .cart-summary .checkout div:hover {
                cursor: pointer;
                opacity: 0.8;
            }

        .cart-frame-container .cart-summary .checkout .checkout-btn {
            margin-top: 20px;
            background-color: #fecb00;
        }

        .cart-frame-container .cart-summary .checkout .continue-shopping {
            background-color: black;
        }

            .cart-frame-container .cart-summary .checkout .continue-shopping a {
                color: white;
            }

@media screen and (max-width: 1500px) {

    h4 {
        font-size: 1.2rem;
    }

    shopping-cart-title {
        width: 1080px;
    }
}

@media screen and (max-width: 1300px) {

    .item-price-right {
        flex-direction: column;
        justify-content: center;
    }

    .quantity {
        margin: 0 20px;
    }

    .img-pic {
        width: 150px;
    }
}

@media screen and (max-width: 980px) {
    .img-and-spec {
        flex-direction: column;
    }

    .item-spec {
        font-size: 15px;
    }

    .cart-frame-container .selected-item {
        height: 350px;
    }

        .cart-frame-container .selected-item .item-quantity {
            flex: 0;
        }

    .productName {
        width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .cart-frame-container .selected-item .img-and-spec .item-spec {
        width: 90%;
    }

    .cart-frame-container .selected-item .item-quantity {
        flex: 0;
    }

    .cart-summary {
        width: 450px;
    }
}
@media screen and (max-width: 640px){
    .cart-frame-container{
        width:385px    }
}

/*# sourceMappingURL=cart.css.map */
