@import url('https://fonts.googleapis.com/css?family=Varela+Round');
$main-color:rgb(254, 203, 0) ;
html body{
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.new-item{
    height: 600px; //
    //background: url(/Images/Index-images/razer-turret.jpg) center center no-repeat ;
    //background-size: 100% 100%;
    overflow: hidden;
    video{
        height: auto;
        width: 100%;
    }
}

    .new-item-video{
        height: 50%;
        width: 100%;
    }

.new-item-title {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%; //
    left: 50%; //
    width: 100%;
    transform: translate(-50%,-45%);
    h1{
        font-size: 4rem ;
        font-weight: bold;
        margin-bottom: 18px; //
    }
    .learn-more{
        margin-top: 45px; //
        padding: 18px 40px; //
        height: auto;
        color: black;
        font-weight: bold;
        font-size: 1.5rem;
        border: none;
        background-color: $main-color;
        &:hover{
            background-color: white;
        }
    }
}
.menu-slide{
    .div-explore{
        padding-top: 50px;
    }
    .explore{
        font-weight: bold;
    }
}
.carousel-inner {
    .carousel-item{
        display: flex;
        justify-content: space-around;
        padding: 25px 0; //
        transition: transform 0s ease-in-out !important;
        div{
            text-align: center;
            cursor: pointer;
            &:hover{
                img{
                    transform: translate(0px,-15px); //
                }
                p img{
                    transform: none;
                    padding: 0 15px; //
                }
            }
        }
        img{
            width: 140px; // 
            height: 150px; //
            position: relative;
            transition: transform 0.8s;
        }
        p img{
            width: 140px; //
            height: 30px; //
        }
        h3{
            font-size: 1.1rem;
            font-weight: bold;
        }       
    }
}
.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: #393939;
}
.carousel-control-prev{
    left: -10%; //
}

.carousel-control-next{
    right: -10%; //
}

.prev-icon,.next-icon{
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 6px; //
    border-radius: 50%;
    background-color:  #302f2f;
}

.corsair-in-action{
    background-color: #393939;
    text-align: center;
    color: white;
    .text-center{
        padding: 60px 0; //
        h1{
            span{
                font-weight: bolder;
            }
        }
    }
    .total-ones{
        width: 100%;
        //height: 100%;
        overflow: hidden;
    }
    .big-one{
        width: 48.9%; //
        height: 595px; //
        margin: 0.5%; //
        float: left;
        overflow: hidden;
        position: relative;
        div:first-child{
            width: 100%;
            height: 100%;
            padding-top: 5%;
            transition: transform 1s;            
        }
        p{
            top:13%;
        }
        h2{
            top:5.25%;
        }
        p,h2{
            width: 100%;
            display: block;
            left: 50%;
            transform: translate(-50%,0%);
            position: absolute;
        }
        button{
                position: absolute;
                border: none;
                padding: 15px 25px; //
                background-color: $main-color;
                color: black;
                transform: translate(-50%,0%);
                left: 50%;
                top:80%;
                display: none;
        } 
        &:focus,&:hover{
            cursor: pointer;
            button{
                display: block;
            }
            div:first-child{
                transform: scale(1.1);
            }       
        }
    }

    .small-one{
        width: 48.9%; //
        height: 291.5px; //
        float: left;
        overflow: hidden;
        margin: 0.5%; //
        position: relative;
        div:first-child{
            width: 100%;
            height: 100%;
            padding-top: 5%;
            transition: transform 1s;            
        }
        p{
            top: 20%;
        }
        h2{
            top:5.25%;
        }
        p,h2{
            width: 100%;
            display: block;
            left: 50%;
            transform: translate(-50%,0%);
            position: absolute;
        }
        button{
                position: absolute;
                border: none;
                padding: 15px 25px; //
                background-color: $main-color;
                color: black;
                transform: translate(-50%,0%);
                left: 50%;
                top: 60%; //
                display: none;
        } 
        &:focus,&:hover{
            cursor: pointer;
            button{
                display: block;
            }
            div:first-child{
                transform: scale(1.1);
            }       
        }
    }
}
.new-item-container{
    position: relative;
}
.move-svg-wrapper{
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-150%);
}
svg{
    fill: $main-color;
    &:hover{
        cursor: pointer;
        fill: white;
    }
    animation: moving 1.5s infinite;
}
.move-svg{
    width: auto;
    height: 75px;
}

.two-ones , .three-ones{
    display: none;
}

@keyframes moving{
     0%{
         transform: translateY(0px)
     }
     50%{
         transform: translateY(10px)
     }
     100%{
         transform: translateY(0px)
     }
}

@media screen and(max-width: 1296px){
    .corsair-in-action .big-one{
        height: 593px;
    }
}

@media screen and(max-width: 1268px){
    .corsair-in-action .big-one{
        height: 592px;
    }
}
@media screen and(max-width: 1143px){
    .corsair-in-action .big-one{
        height: 591px;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -180%);
    }
}

@media screen and(max-width: 1010px){
    .new-item-title {
        h1{
            font-size: 3rem;
        }
    }
    .menu-slide .div-explore{
        padding-top: 30px;
    }
}

@media screen and(max-width: 991px){
    .move-svg-wrapper{
        transform: translate(-50%, -220%);
    }
    .five-ones{
        display: none;
    }
    .three-ones{
        display: block;
    }
    .menu-slide .div-explore{
        padding-top: 0px;
    }
}

@media screen and(max-width: 946px){
    .move-svg-wrapper{
        transform: translate(-50%, -260%);
    }
    .new-item-title{
        .learn-more{
            margin-top: 20px;
            padding: 15px 30px;
            font-size: 1.2rem;
        }
        top: 45%;
    }
    .corsair-in-action{
        .big-one{
            height: 490px;
            p{
                top: 15%;
            }
        }
        .small-one{
            height: 241.5px;
            p{
                top: 25%;
            }
        }
    } 
}
@media screen and(max-width: 906px){
    .new-item{
        height: 550px;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -230%);
    }
    .menu-slide .div-explore{
        h1{
            font-size: 2.2rem;
        }
    }
}
@media screen and(max-width: 841px){
    .new-item{
        height: 520px;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -220%);
    }
}
@media screen and(max-width: 800px){
    .new-item{
        height: 490px;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -205%);
    }
    .new-item-title h2{
        font-size: 1.5rem;
    }
    .corsair-in-action{
        .big-one{
            height: 489.5px;
        }

    }

}
@media screen and(max-width: 741px){
    .new-item{
        height: 450px;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -185%);
    }
    .new-item-title h2{
        font-size: 1.5rem;
    }
    .new-item-title h1{
        font-size: 2.5rem;
    }
    .corsair-in-action{
        .big-one{
            height: 216.5px;
            button{
                padding: 15px;
                top: 60%;
            }
            p{
                top: 25%;
            }
        }
        .small-one{
            height: 216.5px;
            button{
                padding: 15px;
            }
        }

    }
    .footer-menu .frame-container a{
        font-size: 0.9rem;
    }
    .carousel-control-next {
        right: -5%;
    }
    .carousel-control-prev{
        left: -5%;
    }
}
@media screen and(max-width: 715px){
    .new-item{
        height: 430px;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -175%);

    }
}
@media screen and(max-width: 700px){
    .new-item video{
        height: 460px;
    }
    .menu-slide .div-explore{
        padding-top: 30px;
    }
}
@media screen and(max-width: 680px){
    .corsair-in-action{
        .big-one{
            height: 291.5px;
            width: 98.8%;
            button{
                padding: 15px;
                top: 60%;
            }
            p{
                top: 25%;
            }
        }
        .small-one{
            height: 291.5px;
            width: 98.8%;
            button{
                padding: 15px;
            }
        }

    }
    .footer-menu .frame-container div{
        padding: 20px;
    }
}
@media screen and(max-width: 600px){
    .new-item video{
        height: 490px;
    }
    .new-item-title {
        h1{
            font-size: 2rem;
        }
        h2{
            font-size: 1.2rem;
        }
        .learn-more{
            font-size: 1rem;
        }
    }

}
@media screen and(max-width: 570px){
    .three-ones{
        display: none;
    }
    .two-ones{
        display: block;
    }
    .carousel-item{
        justify-content: space-between;
    }

}
@media screen and(max-width: 521px){
    .new-item video{
        width: 150%;
    }
}
@media screen and(max-width: 480px){
    .new-item-title{
        top: 50%;
        h1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 1.1rem;
        }
    }
    .move-svg-wrapper{
        transform: translate(-50%, -160%)
    }
    .carousel-inner .carousel-item div{
        padding: 0 20px;
    }
    .guru-action-title{
        h1{
            font-size: 2rem;
        }
    }
    .corsair-in-action{
        .big-one{
            h2{
                font-size: 1.8rem;
                top: 6%;
            }
        }
        .small-one{
            h2{
                font-size: 1.8rem;
                top: 6.5%;
            }
        }

    }
    .menu-slide .div-explore{
        h1{
            font-size: 2rem;
        }
    }
}
@media screen and(max-width: 440px){
    .prev-icon, .next-icon{
        width: 25px;
        height: 25px;
        padding: 4px;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon{
        width: 14px;
        height: 14px;
    }
    .corsair-in-action{
        .big-one , .small-one{
            p{
                top: 40%;
            }
        }
    }
}
@media screen and(max-width: 400px){
    .new-item video{
        width: 180%;
    }
    .new-item-title{
        top: 47%;
    }
    .move-svg-wrapper{
        transform: translate(-50%, -140%)
    }
    .carousel-inner .carousel-item img{
        width: 100px;
        height: 110px;

    }
    .carousel-inner .carousel-item p img{
        width: 100px;
    }
    .carousel-inner .carousel-item h3{
        font-size: 0.9rem;
    }

}
@media screen and(max-width: 332px){
    .corsair-in-action .big-one button{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .corsair-in-action .small-one button{
        font-size: 0.8rem;
        font-weight: bold;
    }
}
@media screen and(max-width: 321px){
    .new-item video{
        width: 215%;
    }

}
