html{
    
}

.container-max{
    margin-top: 65px;
}

.container_80{
    margin: 0 auto;
    width: 80%;
}

#top_img_border {
    width: 100%;
    height:500px;
}

#top_img {
    width: 100%;
    height: 100%;
    position: relative;
}

#img_text{
    position: absolute;
    color: white;
    top:120px;
    left: 120px;
    font-size: 2rem;
    letter-spacing: 4px;
}

.category_mid_img{
    width: auto;
    height: auto;

    max-height:100%;
    max-width:100%;

}

#mid_data h5{
    height: 30px;
    margin-bottom: 30px;
}

#mid_data p {
    height: 30px;
    margin-bottom: 20px;
}


#sort_select{
    width: 100%;
    margin: 20px 0;
    border-radius: 20px;
}

#sort_select button {
    background-color: #000;
    color: #fecb00;
    border: #fff 5px solid;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    padding: 0 15px;
    height: 50px;
}

.product_card {
    height: 100%;
    cursor: pointer;
}

.card_body{
    background-color: #ddd; 
    text-align: center;
}

.card_img {
    width: 270px;
    height: 270px;
    max-height: 100%;
    max-width: 100%;
}

.card_a{
    color: black;
    font-weight:bold;
}

#item_data_name{
    height:75px;
}

#sort_select button:focus{
    outline : none;
}


.item_price{
    margin-bottom:0;
}

.item_date {
    margin-bottom: 10px;
}


.item_price::before {
    content: "$ ";
}


.item_date::before {
    content: "date: ";
}

#price_line-through {
    text-decoration: line-through;
}

#price_discount {
    font-weight: bolder;
    color : red ;
}

@media screen and (max-width: 1030px) {
    #item_data_name {
        height: 80px;
    }

}

@media screen and (max-width: 990px) {
    #item_data_name {
        height: 50px;
    }

    #top_img_border{
        height:400px;
    }

}

@media screen and (max-width: 650px) {
    #item_data_name {
        height: 80px;
    }

    #top_img_border {
        height: 300px;
    }

    #img_text h2{
        font-size : 1.5rem;
    }

}

@media screen and (max-width: 575px) {
    #item_data_name {
        height: 50px;
    }

    #img_text h2{
        font-size: 0.75rem;
    }
}